<%= render "shared/userbar", my_gym: current_user.gym, user: current_user %>
<div class="container">
  <div class="meetup-container">
    <%= form_for [@friendship, @meetup] do |f| %>
      <h4>Pick a date:</h4>
      <%= f.text_field :date, class: "meetup-field", data: {
      controller: "flatpickr",
      flatpickr_enable_time: true,
      time_24hr: true,
      defaultDate: Time.now,
      disableMobile: "true"
      } %>

      <h4>And a sport:</h4>
      <%= f.collection_select :sport, Sport.all, :id, :name %>

      <%= f.submit value: "Send date request!", class: "button-primary" %>
    <% end %>
  </div>
  <div>
  <%= image_tag "back.svg" %>
  <%= link_to "Go back", friendships_path, class: "text-link" %>
  </div>


</div>
