<%= render "shared/userbar", my_gym: current_user.gym, user: current_user %>
<div class="container">
  <div class="card-container">
    <% if !@chatrooms.empty? %>
      <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom[0]) do %>
          <div class="user-card">
            <%= cl_image_tag chatroom[1].photo.key, class: "avatar-large avatar-bordered" %>
            <div class="user-card-right">
              <div class="user-card-top">
                <div class="user-card-name gymally-semibold">
                  <%= chatroom[1].first_name %>
                  <div class="greentext">
                  <% if chatroom[2] == "Start to chat" %>
                  
                  <%= chatroom[2] %>
                  </div>
                  <% else %>
                  <div class="greytext">
                  <%= chatroom[2].text[0..15] + "..." %>
                  </div>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-card-bottom gymally-small">
            <div class="greytext">
              <%= chatroom[2] == "Start to chat" ? "" : chatroom[2].created_at.strftime("%l:%M %p") %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h4> You do not have any chats (yet!)</h4>
      <div class="button-primary"><%= link_to "Find some allies!", users_path %></div>
    <% end %>
  </div>
</div>
