<div class="container">
<%= render "shared/userbar", my_gym: current_user.gym, user: current_user %>
  <% if !@chatrooms.empty? %>
    <h1><%= current_user.first_name %>'s Chats</h1>
    <ul>
      <% @chatrooms.each do |chatroom| %>
        <li>
          <%= cl_image_tag chatroom[1].photo.key, class: "avatar" %>
          <%= link_to "#{chatroom[1].first_name}", chatroom_path(chatroom[0]) %>
          <p><%= chatroom[2][0..60] %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h4> You do not have any chats (yet!)</h4>
    <div class="button-primary"><%= link_to "Find some allies!", users_path %></div>
  <% end %>
</div>
