<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <%= link_to "<", chatrooms_path %>
  <%= image_tag @chatpartner.photo, class: "avatar" %>
  <h1><%= @chatpartner.first_name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    remote: true,
    html: {data: {chatroom_subscription_target: "form"}} do |f| %>
    <%= f.input :text, label: false, placeholder: "Send a message" %>
    <%= f.submit %>
  <% end %>
</div>
