<div class="modal fade" id="staticBackdrop<%= "#{user.first_name}" %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="popup-container">
      <div class="popup-main">
        <div class="top">
          <div class="user">
            <%= image_tag user.photo, class: "avatar-large avatar-bordered" %>
            <div class="user-info" id="staticBackdropLabel">
              <%= user.first_name %>
              <div id="tag-container">
                <% user.sports.each do |sport| %>
                  <div class="tag gymally-tag">
                    <%= sport.name %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="quote">
          <p><%= user.quote %></p>
        </div>
        <div class="gymally-xsmall likes-to-train">
          <p>Likes to train on:</p>
        </div>
        <div class="settings-input modal-tags-box" >
        <% user.weekdays.order(:id).each do |day| %>
          <div class="modal-tag">
            <%= day.name %>
             </div>
            <% end %>
        </div>

      </div>
      <% unless Friendship.find_by("user_one_id = #{current_user.id} and user_two_id = #{user.id}") || Friendship.find_by("user_two_id = #{current_user.id} and user_one_id = #{user.id}") %>
      <div class="popup-bottom">
        <div class="button-primary">
          <%= link_to "Send friendship request", create_friendship_path(user_two_id: user.id),
            method: :post %>
          <%# <button type="button" class="button-primary">Send</button> %>
        </div>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
