<div class="container">

  <div class="db-top">
    <div class="self-img">
      <%= cl_image_tag current_user.photo.key, class: "avatar" %>
    </div>
  </div>

  <%= render "shared/userbar", my_gym: @my_gym, user: current_user %>
  <div class="db-filter">
      <div data-controller="filter" class="filter-top">
        <div data-action ="click->filter#showForm" class="semibold">
          Set Filter:<i class="fas fa-filter"></i>
        </div>
        <div >
          <%= simple_form_for :user, url: users_path, method: :get, html: {data: { filter_target: "form"}, class: "d-none"} do |f| %>
          <div>
            <%= f.input :gender, collection: @genders.uniq, :required => false %>
            <%= f.input :weekdays, collection: @weekdays, :required => false, input_html: {multiple: true, data: {controller: 'select2', select2_options_value: {tags: true}}} %>
            <%= f.input :sports, collection: @sports, :required => false, input_html: {multiple: true, data: {controller: 'select2', select2_options_value: {tags: true}}} %>
            <%= f.input :gym, collection: @gyms.uniq, :required => false %>
            <%= f.input :age1, :label => "Min. age", collection: @age, :required => false %>
            <%= f.input :age2, :label => "Max. age", collection: @age, :required => false %>
            <%= f.submit "Search" %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="filter-bottom semibold">
        <%= link_to users_path do %>
          Reset Filter:<i class="fas fa-sync d-inline-block"></i>
        <% end %>
      </div>
    </div>

<div id="card-container">
    <% @users.each do |user| %>
      <% unless user == current_user %>
        <%= link_to user_path(user), data: { bs_toggle: "modal", bs_target: "##{user.first_name + user.last_name}Modal"} do %>
          <div class="user-card" >
            <%= image_tag user.photo, class: "avatar-large avatar-bordered" %>
            <div class="user-card-right">
              <div class="user-card-top">
                <div class="user-card-name gymally-semibold">
                    <%= user.first_name %>
                </div>

                <div id="tag-container">
                  <% user.sports.each do |sport| %>
                    <div class="tag gymally-tag">
                      <%= sport.name %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="user-card-bottom gymally-small">
                <%= user.quote.split[0..2].join(" ") %>...
              </div>
            </div>
          </div>

          <div class="modal fade"
              id=<%= "#{user.first_name + user.last_name}Modal" %>
              tabindex="-1"
              aria-labelledby=<%= "#{user.first_name + user.last_name}ModalLabel" %>
              aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <%= image_tag user.photo, class: "avatar-large avatar-bordered" %>
                  <div class="user-card-right">
                    <div class="user-card-top">
                      <div class="user-card-name gymally-semibold">
                          <%= user.first_name %>
                      </div>

                      <div id="tag-container">
                        <% user.sports.each do |sport| %>
                          <div class="tag gymally-tag">
                            <%= sport.name %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="user-card-bottom gymally-small">
                      <%= user.quote.split[0..2].join(" ") %>...
                    </div>
                  </div>

                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>


                  <p><%= user.quote %></p>

                <div class="">
                  <p> type sth </p>
                  <button type="button" class="button-primary">Send</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
