<div class="container">
  <div class="gymally-small">
    <%= @my_gym.name %>
  </div>
    <div >
      <h2><%= current_user.first_name.capitalize %> welcome to GymAlly!</h2>
    </div>
    <div >
      <p>This is your Dashboard. Search for your future gym buddy and plan your next training together!</p>
    </div>
  <div class="users">
    <div data-controller="filter">
      <div class="d-flex justify-content-between" data-action ="click->filter#showForm">
          <div>Set Filters:</div><div><i class="fa fa-solid fa-filters d-inline-block"></i></div>
      </div>
      <div class="d-flex justify-content-between">
        <%= link_to users_path do %>
          <div>Reset Filters:</div><div><i class="fas fa-sync d-inline-block"></i></div>
        <% end %>
      </div>
      <div>
        <%= simple_form_for :user, url: users_path, method: :get, html: {data: { filter_target: "gender"}, class: "d-none"} do |f| %>
        <div>
          <%= f.input :gender, collection: @genders.uniq, :required => false %>
          <%= f.input :weekdays, collection: @weekdays, :required => false, input_html: {multiple: true, data: {controller: 'select2', select2_options_value: {tags: true}}} %>
          <%= f.input :sports, collection: @sports, :required => false, input_html: {multiple: true, data: {controller: 'select2', select2_options_value: {tags: true}}} %>
          <%= f.input :gym, collection: @gyms.uniq, :required => false %>
          <%= f.input :age1, :label => "Min. age", collection: @age, :required => false %>
          <%= f.input :age2, :label => "Max. age", collection: @age, :required => false %>
          <%= f.submit "Search" %>
        </div>
        <% end %>
      </div>
    </div>
    <% @users.each do |user| %>
      <div class="user-card" >
        <% unless user == current_user %>
          <%= link_to user_path(user) do %>
            <%= image_tag user.photo, class: "avatar" %>
            <div class="user-card-right">
              <div class="user-card-top">
                <p><%= user.first_name %> <%= user.last_name %></p>
                <div class="user-sport-card">
                  <% user.sports.each do |sport| %>
                    <div class="user-sport">
                      <%= sport.name %>
                    </div>
                  <% end %>
                </div>
                <div class="user-card-bottom">
                  <%= user.gender %>
                  <p><%= user.age %> years old</p>
                  <p><%= user.quote.split[0..3].join %>...</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
