<div class="container">

  <div class="right">
    <%= cl_image_tag @user.photo.key, class: "avatar-large" %>
    <div class="settings-info">
    <div class="gymally-small">
      Nickname
    </div>
    <div class="settings-input">
      <p><%= @user.nickname.capitalize %></p>
    </div>
    </div>
    <%= link_to users_path do %>
      <%= image_tag "close.svg"  %>
    <% end %>
  </div>

  <% if @user == current_user %>
    <div class="settings">

      <div class="settings-box">
       <div class="gymally-small">
        Full name
        </div>
        <div class="settings-input">
        <p><%= @user.first_name %> <%= @user.last_name %></p>
        </div>
      </div>

     <div class="settings-box">
       <div class="gymally-small">
        Your Gym
        </div>
        <div class="settings-input">
        <p><%= @user.gym.name %></p>
        </div>
      </div>

      <div class="settings-box">
       <div class="gymally-small">
        E-mail
        </div>
        <div class="settings-input">
        <p><%= @user.email %></p>
        </div>
      </div>


      <div class="settings-half">
        <div class="settings-box">
        <div class="gymally-small">
          Gender
          </div>
          <div class="settings-input">
            <p><%= @user.gender.capitalize %><br/></p>
          </div>
        </div>
        <div class="settings-box">
        <div class="gymally-small">
          Age
          </div>
          <div class="settings-input">
            <p><%= @user.age %><br/></p>
          </div>
        </div>
      </div>

      <div class="settings-box">
       <div class="gymally-small">
        Short description
        </div>
        <div class="settings-input">
          <p><%= @user.quote %></p>
        </div>
      </div>

      <div class="settings-box">
       <div class="gymally-small">
        Likes to train on:
        </div>
        <div class="settings-input settings-tags-box">
        <% @user.weekdays.order(:id).each do |day| %>
          <div class="settings-tag">
            <%= day.name %>
             </div>
            <% end %>
        </div>
      </div>

      <div class="settings-box">
       <div class="gymally-small">
        My favorite type of workout:
        </div>
        <div class="settings-input settings-tags-box">
          <% @user.sports.each do |sport| %>
            <div class="settings-tag">
              <%= sport.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

<%= link_to "Edit your profile", edit_user_path(@user), class: "button-primary" %>

    <!-- <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "gymally-navbar" %> -->
<% end %>
</div>
