<%# ---------- should be wrapped by div class="card-container" ------ %>
<div class="friend-card">
  <div class="upcoming-card-right">
    <div class="meetup-card-top">
      <div id="tag-container">
        <div class="upcoming-tag gymally-tag">
            <%= invitation.sport.name %>
        </div>
      </div>
      <p class="gymally-small px-1"> with </p>
      <div class="friend-card-name gymally-semibold">
          <%= user.first_name %>
      </div>
      <div class="px-1">
        <%= render "shared/user_modal", user: user, type: "friends"%>
      </div>
    </div>
    <div class="friend-card-bottom gymally-small">
      <%= invitation.date.strftime("%a, %d %m %Y, %H:%M") %>
    </div>
  </div>
  <div>
    <%= link_to 'Cancel', friendship_delete_meetup_path(invitation.friendship, invitation),
                  method: :delete,
                  type: "button",
                  class: "button-deny gymally-xsmall",
                  data: { confirm: "Are You sure you want to withdraw request to #{invitation.user_two.first_name}?" } %>
  </div>
</div>
