<div class="nav">
  <% if user_signed_in? %>
		<div class="box">
      <%= image_tag "home.svg" %>
      <%= link_to "Home", dashboard_path, class: "gymally-navbar" %>
    </div>
		<div class="box">
       <%= image_tag "person.svg" %>
        <%= link_to "Friends", root_path, class: "gymally-navbar" %>
    </div>
		<div class="box">
      <%= image_tag "chat.svg" %>
      <%= link_to "Chats", chatrooms_path, class: "gymally-navbar" %>
    </div>
		<div class="box">
      <%= image_tag "map.svg" %>
      <%= link_to "Map", chatrooms_path, class: "gymally-navbar" %>
    </div>
    <div class="box">
     <!-- <%= image_tag "exit.svg" %> -->
     <div class="colourful-svg"></div>
     <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "gymally-navbar" %>
    </div>
    <% else %>
        <li class="box">
          <%= image_tag "login.svg" %>
          <%= link_to "Login", new_user_session_path, class: "gymally-navbar" %>
        </li>
    <% end %>
	</div>
