<%# ---------- should be wrapped by div class="card-container" ------ %>
<div class="user-card">
  <%= cl_image_tag user.photo.key, class: "avatar-large avatar-bordered" %>
  <div class="user-card-right">
    <div class="user-card-top">
      <div class="user-card-name gymally-semibold">
          <%= user.first_name %>
      </div>

      <div id="tag-container">
        <% user.sports.each do |sport| %>
          <div class="tag gymally-tag">
            <%= sport.name %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="friendship-card-button">
      <% friendship = Friendship.find_by("user_one_id = #{current_user.id} and user_two_id = #{user.id}") || Friendship.find_by("user_two_id = #{current_user.id} and user_one_id = #{user.id}") %>
      <%= link_to "Create a meetup request with #{user.first_name}", new_friendship_meetup_path(friendship),
              method: :get,
              type: "button",
              class: "button-meetup" %>

      <%# <%= user.quote.split[0..2].join(" ") %>
    </div>
  </div>
</div>
