<div class="container">
  <div class="gymally-small">
    <%= @my_gyms.name %>
  </div>

      <div class="container">
      <h2><%= @user.first_name.capitalize %>, welcome to GymAlly!</h2>
      </div>
      <div class="container">
      <p>This is your Dashboard. Search for your future gym buddy and plan your next training together!</p>
      </div>

    <div class="container">
      <div class="cards-dashboard">
        <h2>Your GymAlly's:</h2>
        <% @my_friendships.each do |friendship| %>
        <%= link_to "Friendships", friendship_path(friendship) %>
        <%= link_to "Chatroom", chatroom_path(friendship.chatroom) %>

        <% end %>
      </div>
    </div>

    <div class="dashboard-box">
        <div id="a"><h2>Profile</h2>
        <%= link_to "Profilerofile", user_path(@user) %>
        </div>

        <div id="b"><h2>Buddy's</h2>
        <%= link_to "Friendships", friendship_path(@my_friendships) %>
        </div>
        <div id="c"><h2>Chats</h2>
        <%# <%= link_to "Chatroom", chatroom_path(@chatroom) %>
        </div>
        <div id="d"><h2>Training</h2>
        <%# <%= link_to "Gym", gym_path(@my_gyms) %>
        </div>
    </div>
</div>
